@page "/merger"
@inject IBrandProvider Brand

<Jumbotron Background="Background.Secondary" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is3">@ToolName</JumbotronTitle>
    <JumbotronSubtitle>
        @ToolName (@ShortName) is an <strong>experimental</strong>  new way of running @Brand.ProjectName: locally on your PC. @ShortName can build a merged mod on your machine from presets, @Brand.ShortName patches, @ShortName-compatible skin mods and even other merged mods, all with less compatibility issues and less downloads required.
    </JumbotronSubtitle>
    <Divider></Divider>
    <Button Type="ButtonType.Link" Color="Color.Primary" To="https://www.nexusmods.com/projectwingman/mods/270" Target="Target.Blank">View on Nexus Mods</Button>
    <Button Type="ButtonType.Link" Color="Color.Info" To="/merger-start" >Getting Started</Button>
</Jumbotron>

<PresetGuide />
@code {
    private string ToolName => $"{Brand.ProjectName} {Brand.ToolName}";

    private string ShortName => string.Join(string.Empty,
        ToolName.Split(new[] {' '}, StringSplitOptions.RemoveEmptyEntries).Select(s => s[0])
        );
}