@page "/upload"
@using System.IO
@using Microsoft.Extensions.Configuration
@using SicarioPatch.App.Infrastructure
@inject IMediator Mediator
@inject IJSRuntime JsRuntime
@inject IConfiguration Configuration
@inject BrandProvider Brand
@attribute [Authorize(Policy = Policies.IsUploader)]
<h3>Upload Patch Mod</h3>

<Row>
    <Column>
        @if (!_uploadPublic) {
            <div role="alert" class="alert alert-primary">
                <h6 class="text-secondary">
                    All uploaded mods are private by default!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </h6>
                <p>
                    You will need to contact @Brand.OwnerName to make your mod available for other users.
                </p>
            </div>
            }
        <UploadMod OnSaveMod="@OnSaveMod"/>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
        <UserMods Title="Your Mods" OnRemoveMod="@OnDeleteMod" />
    </Column>
</Row>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter(Name = "SnackbarStack")] SnackbarStack snackbarStack { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // await RefreshMods();
        var uploadPublic = Configuration.GetValue<bool>("UploadPublic", false);
        _uploadPublic = uploadPublic;
    }

    private async Task OnSaveMod((string fileName, WingmanMod mod) evt)
    {
        var state = await authenticationStateTask;
        if (state?.User != null)
        {
            evt.mod.Metadata.Author = state.User.Identity.Name;
            evt.mod.ModInfo.Private = !_uploadPublic;
            var req = new ModUploadRequest { Mod = evt.mod, FileName = evt.fileName};
            try
            {
                Console.WriteLine("Sending upload request");
                var result = await Mediator.Send(req);
                if (!string.IsNullOrWhiteSpace(result))
                {
                    snackbarStack?.Push($"Successfully uploaded '{Path.GetFileNameWithoutExtension(result)}'", SnackbarColor.Success);
                }
                else
                {
                    snackbarStack?.Push("Error during upload! Please contact agc93 to fix your upload", SnackbarColor.Warning);
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                snackbarStack?.Push($"Error encountered during upload!{Environment.NewLine}{e.ToString()}");
            }
        }
        else
        {
            snackbarStack?.Push("Failed to determine user information!", SnackbarColor.Danger);
        }
        
    }
    
    private async Task OnDeleteMod(string fileName)
    {
        var req = new ModDeleteRequest{FileName = Path.GetFileName(fileName)};
        var result = await Mediator.Send(req);
        snackbarStack?.Push(
            result ? $"Successfully deleted '{fileName}'" : "Failed to delete mod file",
            result ? SnackbarColor.Success : SnackbarColor.Danger);
    }

    private bool _uploadPublic;
}
