.action-container, ::deep .action-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /*margin-top: 1.5em;*/
    padding: 5px;
}

.action-container > .btn,
::deep .action-btn {
    margin-top: 1em;
}