.fade-tooltip {
    display:inline-block;
    position:relative;
}

.fade-tooltip .right {
    min-width:10vw;
    width:max-content;
    max-width: 20vw;
    /*float:left;*/
    /*overflow: hidden;*/
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:5px 10px;
    color:#ffffff;
    background-color:#363636;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.fade-tooltip > .tooltip-text {
    display: inline;
}

.fade-tooltip:hover .right {
    visibility:visible; opacity:1;
}

.fade-tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-5px;
    width:10px;
    height:10px;
    overflow:hidden;
}

.fade-tooltip .right i::after {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#363636;
    /*box-shadow:0 1px 8px rgba(0,0,0,0.5);*/
    margin-left: 2px; /* just to have the arrow nestle properly */
}

.fade-tooltip .bottom {
    min-width:10vw;
    width: max-content;
    max-width: 20vw;
    top:40px;
    left:50%;
    margin-top:20px;
    transform:translate(-50%, 0);
    padding:5px 10px;
    color:#fdffc;
    background-color:#ba4615;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.fade-tooltip:hover .bottom {
    visibility:visible; opacity:1;
}

.fade-tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-5px;
    width:10px;
    height:10px;
    overflow:hidden;
}

.fade-tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #ba4615;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}